include MANIFEST.in
include setup.py
include LICENSE
include requirements.txt
include requirements-dev.txt

recursive-include experimaestro *.py 
graft experimaestro/server/data

global-exclude *.pyc
global-exclude .DS_Store
