global-exclude *.pyc
global-exclude .DS_Store

include MANIFEST.in
include setup.py
include setup.cfg
recursive-include experimaestro *.py
recursive-include tests *.py

graft cpp/ext
graft cpp/include
graft cpp/src
graft cpp/cmake
include cpp/CMakeLists.txt

graft cpp/app/build
graft cpp/app/public
graft cpp/app/sass
graft cpp/app/src


