[tool.setuptools_scm]
write_to = "src/experimaestro/version.py"
fallback_version = "0.0.0-dev"

[tool.commitizen]
name = "cz_conventional_commits"
version = "0.20.0"
changelog_start_rev = "0.15.0"
tag_format = "$version"
update_changelog_on_bump = true

[build-system]
requires = ["setuptools", "setuptools-scm", "wheel"]  # PEP 508 specifications.
