# CLI
click

# Other
fasteners
psutil
websockets
jsonstreams
pytools
watchdog

# Configuration
marshmallow

# SSH support (fabric is built on Paramiko, 
# and allows using OpenSSH config out of the box)
fabric

# Remote code execution
rpyc
