# CLI
click

# Supports Annotated[T, ...]
typing_extensions >= 3.7.4.3; python_version < "3.9"

# Other
fasteners
psutil
websockets
jsonstreams >= 0.5
pytools
tqdm
docstring_parser

# Avoid version 0.10.4
watchdog < 0.10.4 

# Configuration
marshmallow

# SSH support (fabric is built on Paramiko, 
# and allows using OpenSSH config out of the box)
fabric

# Remote code execution
rpyc
