# CLI
click
omegaconf

# Supports Annotated[T, ...]
typing_extensions >= 3.7.4.3; python_version < "3.9"
cached_property; python_version < "3.9"

# Other
fasteners
pyyaml
psutil
websockets
pytools
tqdm
docstring_parser
termcolor
requests
pyparsing
# Parse size
humanfriendly
huggingface_hub ~= 0.11.1

# parsing
Arpeggio >= 2.0

# Avoid version 0.10.4
watchdog > 2.0.0

# Configuration
marshmallow

# SSH support (fabric is built on Paramiko,
# and allows using OpenSSH config out of the box)
fabric

# Remote code execution
rpyc
