.doc-class > .doc.doc-heading > code:first-child:before {
  content: "🎯 class "
}


.doc.doc-heading > code:first-child {
  /* font-family: Arial, Helvetica, sans-serif; */
  color: black;
  font-weight: bold;
  border: none;
  /* background: #eee; */
  padding: 5px 0px;
  color: darkblue;
}

.doc.doc-function .doc.doc-heading > code:first-child {
  font-weight: normal;
}

.doc.doc-object {
  margin: 5px 5px;
  padding: 0 5px;
  border-left: 1px solid gray;
}

.doc.doc-object .doc {
  margin: 0;
  border-left: 0;
}

.doc.doc-class {
  margin-top: 10px;
}
